<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Flight Search</title>
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div class="wrapper">
		<header>
			<h1>Flight Search</h1>
		</header>
		<div class="search">
			<input type="text" id="from" name="from" class="search__input" placeholder="from">
			<input type="text" id="to" name="to" class="search__input" placeholder="to">
			<input type="date" id="date" name="date" class="search__input">
			<button id="search" class="search__submit">Search</button>
		</div>

		<div id="flight-tabs"></div>
		<div id="flights"></div>
	</div>

	<template id="flights-template">
		<div class="flights">
			{% for flight in flights %}
			<div class="flight">
				<div class="flight__icon">
					<span class="fa fa-plane fa-2x"></span>
				</div>
				<div class="flight__details">
					{{flight.airline.name}}<br>
					Departure: <strong>{{flight.start.dateTime}}</strong> from {{flight.start.airportName}}, {{flight.start.cityName}}, {{flight.start.countryName}}<br>
					Arrival: <strong>{{flight.finish.dateTime}}</strong> at {{flight.finish.airportName}}, {{flight.finish.cityName}}, {{flight.finish.countryName}}<br>
				</div>
				<div class="flight__price">
					<div>{{flight.price}}€</div>
					<div>
						<button class="flight__book" onclick="javascript:alert('Implement me!');">Book now!</button>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</template>

	<template id="flights-wrapper-template">
		<div class="flights-wrapper">
			<div class="flights-wrapper__content" id="flights-list">{{flights | safe}}</div>
		</div>
	</template>

	<template id="flight-tabs-template">
		<div class="flights-wrapper">
			<div class="tabs">
				<div class="tabs__tab" data-date="{{minusTwo}}">{{minusTwo}}</div>
				<div class="tabs__tab" data-date="{{minusOne}}">{{minusOne}}</div>
				<div class="tabs__tab active">{{date}}</div>
				<div class="tabs__tab" data-date="{{plusOne}}">{{plusOne}}</div>
				<div class="tabs__tab" data-date="{{plusTwo}}">{{plusTwo}}</div>
			</div>
		</div>
	</template>

	<script src="js/app.js"></script>
</body>

</html>
