.flight {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #eeeeee;
	display: flex;
	justify-content: space-between;
}
.flight__price {
	font-size: 24px;
	color: red;
	font-weight: 700;
}
.flight__book {
	height: 38px;
	padding: 5px 20px;
	border: 1px solid darken(#00a0ff, 5%);
	background: #00a0ff;
	color: white;
	font-weight: bold;
	&:hover {
		background: darken(#00a0ff, 5%);
	}
}

