.search {
	border: 1px solid #dddddd;
	background: #eeeeee;
	padding: 20px;
	margin-bottom: 20px;
}

.search__input {
	height: 40px;
	padding: 5px;
	border: 0;
	border-bottom: 3px solid #dddddd;
	outline: none;
	background: white;
	&:focus {
		border-bottom: 3px solid #00a0ff;
	}
}

.search__submit {
	height: 38px;
	padding: 5px 20px;
	border: 1px solid darken(#00a0ff, 5%);
	background: #00a0ff;
	color: white;
	font-weight: bold;
	&:hover {
		background: darken(#00a0ff, 5%);
	}
	&[disabled] {
		opacity: 0.5;
	}
}
