.tabs {
	margin-bottom: 20px;
	display: flex;
}
.tabs__tab {
	display: inline-block;
	text-align: center;
	flex-grow: 1;
	padding: 20px;
	border: 1px solid #dddddd;
	border-bottom: 3px solid #dddddd;
	background: white;
	color: #00a0ff;
	cursor: pointer;
	&:hover {
		color: darken(#00a0ff, 5%);
	}
	&.active {
		color: black;
		cursor: default;
		border-bottom: 3px solid #00a0ff;
	}
}
