@import "../node_modules/font-awesome/scss/font-awesome";
@import "components/search";
@import "components/flight";
@import "components/tabs";


* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: Roboto, sans-serif;
	font-size: 16px;
}

.wrapper {
	width: 90%;
	max-width: 1024px;
	margin: 0 auto;
}
